[mysqld] 
server-id=2 

# DB to replicate 
#binlog_do_db=portal
log-bin = mysql-bin
relay-log = relay-log-server
#read-only = ON
#super-read-only = ON
gtid-mode = ON
enforce-gtid-consistency
log-replica-updates
# https://dev.mysql.com/doc/refman/8.0/en/replication-solutions-switch.html
log-slave-updates = OFF